{% extends 'base/base.html' %}


{% block content %}

<div class="row mt-3">
  <div class="col position-relative border bg-light px-3 py-2">
    <H4>О сайте</H4>
  </div>
</div>
<div class="row mt-3">
  <div class="col position-relative border bg-light px-3 py-2">
    <h5>На нашем сайте вы сможете быстро создать голосование и собрать мнения пользователей касательно любого вопроса</h5>
    <hr>
    <h5>Создание голосования:</h5>
    <hr>
    <p>Чтобы создать новое голосование, вам нужно быть зарегистрированным пользователем на сайте, а также войти перед созданием в свой аккаунт. Подробнее о регистрации вы можете узнать в графе "Регистрация". Чтобы создать новое голосование перейдите на главную страницу и нажмите на синюю кнопку с плюсом. После этого вы перейдете на страницу создания голосования. После заполнения всех полей нажмите кнопку "Создать", находящуюся внизу страницы. Вы перейдете на страницу редактирования готового голосования. Там вы можете изменять голосование, удалять и добавлять варианты. Когда закончите настройку нажмите на кнопку "Опубликовать", чтобы она появилась в общем доступе. На этом шаге голосование создано и опубликовано.</p>
    <hr>
    <h5>Регистрация</h5>
    <hr>
    <p>Если вы еще не зарегистрированы на нашем сайте вы должны перейти на страницу "Войти", а после нажать внизу страницы ссылку на регистрацию. Вы перейдете на страницу регистрации. После заполнения всех полей нажмите кнопку "Зарегистрироваться". После этого вы будете зарегистрированны на сайте</p>
    <hr>
    <h5>Главная страница</h5>
    <hr>
    <p>На главной странице отображается таблица с голосованиями, которые вы создали. Чтобы перейти на страницу редактирования голосования нажмите на его название.</p>
    <hr>
    <h5>Оставление голоса</h5>
    <hr>
    <p>Чтобы оставить голос перейдите на страницу с голосованием и нажмите на один из варинатов (если вариант голосования дискретный или "один из многих") или выберите нужные варианты и нажмите кнопку завершить (если вариант голосования "несколько из многих")</p>
    <hr>
    <p>Спасибо, что пользуетесь simple-votings :)</p>
  </div>
</div>

{% endblock %}
