{% extends 'base/base.html' %}


{% block content %}

<div class="row mt-3">
  <div class="col position-relative border bg-light px-3 py-2">
    <H4>О сайте</H4>
  </div>
</div>
<div class="row mt-4">
  <div class="col position-relative border bg-light px-3 py-2">
    <h5 class="py-2">На нашем сайте вы сможете быстро создать голосование и собрать мнения пользователей касательно любого вопроса</h5>
    <hr>
    <h5 class="py-2">Создание голосования:</h5>
    <hr>
    <p> • Чтобы <b>создать</b> новое <b>голосование</b>, вам нужно быть <a class="link-dark" href="/accounts/register/">зарегистрированным</a> на сайте, а также войти перед созданием в свой аккаунт. Подробнее о регистрации вы можете узнать в графе <b>"Регистрация"</b>.</p>
    <p> • Для <b>создания</b> нового <b>голосования</b> перейдите на <a class="link-dark" href="/">главную страницу</a> и нажмите на синюю кнопку с плюсом. После этого вы перейдете на страницу <b>создания голосования</b>. После заполнения всех полей нажмите кнопку <b>"Создать"</b>, находящуюся внизу страницы. Вы перейдете на страницу редактирования готового голосования.</p>
    <p> • На странице <b>редактирования</b> вы можете изменять голосование, удалять и добавлять варианты. Когда закончите настройку нажмите на кнопку <b>"Опубликовать"</b>, чтобы она появилась в общем доступе. На этом шаге <b>голосование создано и опубликовано</b>.</p>
    <hr>
    <h5 class="py-2">Регистрация</h5>
    <hr>
    <p> • Если вы еще <b>не зарегистрированны</b> на нашем сайте вы должны перейти на <a class="link-dark" href="/accounts/register/">страницу регистрации<a> и ввести данные для вашего аккаунта. После заполнения всех полей нажмите кнопку <b>"Зарегистрироваться"</b>. После этого вы будете зарегистрированны на сайте</p>
    <hr>
    <h5 class="py-2">Главная страница</h5>
    <hr>
    <p> • На главной странице отображается таблица с голосованиями, которые вы создали. Чтобы перейти на страницу <b>редактирования голосования</b> нажмите на его название.</p>
    <hr>
    <h5 class="py-2">Оставление голоса</h5>
    <hr>
    <p> • Чтобы <b>оставить голос</b> перейдите на страницу с голосованием и нажмите на один из варинатов (если вариант голосования дискретный или "один из многих") или выберите нужные варианты и нажмите кнопку <b>"Завершить"</b> (если вариант голосования "несколько из многих")</p>
    <hr>
    <p class="py-2"><b>Спасибо, что пользуетесь simple-votings :)</b></p>
  </div>
</div>

{% endblock %}
