{% extends 'base/base.html' %}

{% block content %}

{% load static %}

<div class="row text-center" style="overflow: hidden; ">
  <img class="px-0" src="{% static 'img/start_background.jpg' %}">
  <div class="translate-middle mx-auto" style="position: absolute; left: 50%; top: 35%; width: 35%">
    <div class="border rounded shadow-sm rounded bg-white py-3 px-2" style="--bs-bg-opacity: .5;">
      <h1 class="display-4">Simple Votings</h1>
      <hr>
      <p class="lead font-weight-normal mt-3">Сайт для опроса пользователей с помощью голосований</p>
      <a class="btn btn-light mt-3" style=".bg-light.bg-gradient" href="/create_voting">Создать голосование</a>
    </div>
  </div>
   <div class="ml-2" style="position: absolute; left: 3%; top: 65%; width: 30%">
    <div class="border rounded shadow-sm rounded bg-white py-3 px-2" style="--bs-bg-opacity: .5;">
      <h1 class="display-4">Удобно</h1>
      <hr>
      <p class="lead font-weight-normal mt-3">На нашем сайте используется только простой и интуитивно понятный интерфейс</p>
    </div>
  </div>
  <div class="ml-2 translate-middle-x" style="position: absolute; left: 50%; top: 65%; width: 30%">
    <div class="border rounded shadow-sm rounded bg-white py-3 px-2" style="--bs-bg-opacity: .5;">
      <h1 class="display-4">Быстро</h1>
      <hr>
      <p class="lead font-weight-normal mt-3">Процесс создания голосования максимально краток, вам потребуется всего несколько минут</p>
    </div>
  </div>
    <div class="ml-2" style="position: absolute; right: 3%; top: 65%; width: 30%">
    <div class="border rounded shadow-sm rounded bg-white py-3 px-2" style="--bs-bg-opacity: .5;">
      <h1 class="display-4">Бесплатно</h1>
      <hr>
      <p class="lead font-weight-normal mt-3">Наш сервис абсолютно бесплатен, все функции доступны для любого пользователя</p>
    </div>
  </div>
</div>

{% endblock %}
