{% extends 'base/base.html' %}


{% block content %}
<form action="" method="get">
  <input name="name"  placeholder="Искать здесь..." type="search">
  {% for item in users %}
  {% if name == vasya %}
  <div> {{ item }}</div>
  {% endif %}
  {% endfor %}
  <button type="submit">Поиск</button>

</form>
 <div class="row mt-3">
    <div class="col position-relative border bg-light px-3 py-2">
      <h4>Все пользователи:</h4>
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Email</th>
            <th scope="col">Админ</th>

          </tr>
        </thead>
        <tbody>
        {% for item in users %}
        <tr>
          <th> {{ item.pk }}</th>
          <th> {{ item }} </th>
          <th> {{ item.email }} </th>
            {% if item.is_superuser %}
          <th>Да
          </th>
            {% else %}
          <th>
            Нет
          </th>
          {% endif %}

        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
 </div>
{% endblock %}
