{% extends 'base/base.html' %}


{% block content %}
 <div class="row mt-3">
    <div class="container">
      <div class="border rounded shadow-sm {{theme_set.bg_color}} py-1 px-2">
        <div class="{{theme_set.text_color }}">
        <h3>Пользователи</h3>
        </div>
      </div>
    </div>
  </div>

<div style="display: inline-block;" class="container w-25 mt-3 mb-2">
    <form type="get">
      <div class="input-group">
        <input class ="form-control " name="search"  placeholder="Искать здесь..." type="search" id="login_onput" value="{{ last_find_request }}">
        <button class="btn btn-outline-dark {{ theme_set.bg_for_elements }}" type="submit">Поиск</button>
      </div>
    </form>
</div>

{% if user_not_found != True %}
<div class="row mt-3">
  <div class="container">
    <div class="border rounded shadow-sm {{theme_set.bg_for_elements}} px-3 py-2">
      {% if last_find_request %}
      <h4>Пользователи с таким логином:</h4>
      {% else %}
      <h4>Последние 50 пользователей, зарегистрированные на сайте</h4>
      {% endif %}
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Email</th>
            <th scope="col">Админ</th>

          </tr>
        </thead>
        <tbody>
        {% for item in users %}
        <tr>
          <th> {{ item.id }}</th>
          <th> <a class = "link-dark" href="/profile/{{ item.id }}"> {{ item }} </a></th>
          <th> {{ item.email }} </th>
            {% if item.is_superuser %}
          <th>Да
          </th>
            {% else %}
          <th>
            Нет
          </th>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
 </div>

{% else %}

<div class="row mt-3">
  <div class="container">
    <div class="border rounded shadow-sm bg-white px-3 py-2">
      <h4>К сожалению, пользователь с таким логином не найден</h4>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="container">
    <div class="border rounded shadow-sm bg-white px-3 py-2">
      <h5>Попробуйте выполнить следующие действия:</h5>
      <hr>
      <p>• Проверьте правильность введенного логина</p>
      <p>• Обновите страницу</p>
    </div>
  </div>
</div>

{% endif %}
<script>
  function search_user(){
    let a = document.getElementById("login_input")

    document.location.href = `/profile/${a.value}`
  }
</script>

{% endblock %}
