{% extends 'base/base.html' %}


{% block content %}

  <input name="search"  placeholder="Искать здесь..." type="search" id="login_input">
  <button   type="submit" onclick="search_user()" >Поиск</button>
<form type="get">
<input name="search"  placeholder="Искать здесь..." type="search" id="login_onput">
  <button   type="submit" onclick="search_user()" >Поиск</button>
</form>
 <div class="row mt-3">
    <div class="col position-relative border bg-light px-3 py-2">
      <h4>Все пользователи:</h4>
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Email</th>
            <th scope="col">Админ</th>

          </tr>
        </thead>
        <tbody>
        {% for item in users %}
        <tr>
          <th> {{ item.pk }}</th>
          <th> {{ item }} </th>
          <th> {{ item.email }} </th>
            {% if item.is_superuser %}
          <th>Да
          </th>
            {% else %}
          <th>
            Нет
          </th>
          {% endif %}

        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
 </div>
<script>
  function search_user(){
    let a = document.getElementById("login_input")

    document.location.href = `/profile/${a.value}`
  }
</script>

{% endblock %}

