{% extends 'base/base.html' %}


{% block content %}
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Регистрация</h2>

              <form method="post">

                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" class="form-control form-control-lg" autofocus required id="id_username" />
                  <label class="form-label" for="id_username">Имя</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" name="email" class="form-control form-control-lg" maxlength="254" required id="id_email" />
                  <label class="form-label" for="id_email">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" autocomplete="new-password" name="password1" class="form-control form-control-lg" required id="id_password1" />
                  <label class="form-label" for="id_password1">Пароль</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" autocomplete="new-password" name="password2" class="form-control form-control-lg" required id="id_password2" />
                  <label class="form-label" for="id_password2">Пароль (еще раз)</label>
                </div>


                <div class="d-flex justify-content-center">
                  <input class="btn btn-lg btn-primary mt-2" type="submit" value="Зарегистрироваться">
                </div>

                <p class="text-center text-muted mt-5 mb-0">Уже зарегистрированы? <a href="/accounts/login/" class="fw-bold text-body"><u>Войти</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if form.errors %}
{{ form.errors }}
{% endif %}

{% endblock %}
