


<nav class="navbar navbar-expand-md {{theme_set.nav_color}} {{ theme_set.bg_for_elements }}">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Simple votings</a>
       {% block menu %}
      {% for item in menu %}
        <a class="nav-link {{theme_set.text_color}}" href="{% url item.url_name %}">{{ item.name }}</a>
      {% endfor %}
    {% endblock %}


  <div class="collapse navbar-collapse md-0 py-0 {{theme_set.nav_color}}" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
          Настройки
        </a>
      <ul class="dropdown-menu {{theme_set.drop_color}}" aria-labelledby="navbarDropdown">
        {% block usermenu %}
        {% if request.user.is_authenticated %}

        <li class="nav-item">
          <a class="dropdown-item " href="{% url 'settings' request.user.id %}">Настройки</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="nav-item">
          <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
        </li>
        <Br>
        {% else %}
        <li class="nav-item">
          <a class="dropdown-item" href="{% url 'login' %}">Войти</a>
        </li>
        {% endif %}

        {% endblock %}
      </ul>
    </ul>
  </div>
  </div>

</nav>



